body{
      background: #853f8b
}

h1 {
    text-align: center
}

p {
    text-align: center
}

      #missao {
           style= "font-size: 20px"
      }

    em stong{
          color: #ff0000;
    }